@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Montserrat:ital,wght@0,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
    
}
body{
    background-image: url(img/mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}



.kan{
    color: #FFC6AC;
    font-family: "Lato";
    font-weight: 700;

}

.hem{
    color: #53430e;
    font-family: "Lato";
    font-weight: 700;
}

.nav_link{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav_link li a{
    transition: all 0.6s ease 0s;
    
}

/* this is the hover effect */
.nav_link li a:hover{
    color: rgb(216, 149, 40);
}

li, a, button {
    font-family: "Lato";
    font-weight: 500;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    }

    button{
        padding: 9px 25px;
        background-color: rgb(97, 54, 11);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.6s ease 0s;}

/* this is hero left section */

.hero{
    margin-top: 5rem;
    font-size: 3.5rem;
    color: #3f2619;   
}

.web{
    color:rgb(207, 95, 95);
    font-size: 3rem;
}

.para{
    color: antiquewhite;
    font-size: 2rem;
    margin-top: 40px;
}

section{
    display:flex;
    justify-content: space-between;
}

.image{
    border-radius: 50%;
    
}

.logo{
    font-size: 1.6rem;
}

.container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
   
    
}

.skill{
     color: antiquewhite;
     font-size: 1.5rem;
}


.skills{
    margin-top: 2rem;
    

}


h2{
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
    display: flex;
    color: rgb(212, 139, 20);
}

.ski{
    height: 50px;
    
   
    
}

hr{
    border-style:none;
    border-top-style:dotted ;
    border-width: 7px;
    width: 25vw;
    border-color: rgb(213, 248, 248);

    
}

.about{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "lato";
    font-weight: 600;
    color: rgb(243, 221, 197);
    font-size: 1.5rem;
    background-color: rgba(77, 54, 8, 0.4);
    
    
}

h1{
    display: flex;
    align-items: center;
    gap: 5px;

}

footer{
    position: relative;
    margin-top: 100px;
    font-weight: 600;
    color: rgb(235, 234, 139);
    text-align: center;
    background-color:rgba(104, 67, 3, 0.4);
    display: flex;
    gap: 20px;
    justify-content: center;
    
}



